---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services

- Monitoring:
    - Portainer:
        icon: portainer.png
        href: http://homelab1.jalexmatey.co.uk:9000/
        description: Docker monitoring
        widget:
          type: portainer
          url: http://homelab1.jalexmatey.co.uk:9000
          env: 2
          key: {{ portainer_api_key }}
    - PiAlert:
        icon: pi-alert.png
        href: http://homelab1.jalexmatey.co.uk:20211/
        description: Network monitoring
        widget:
          type: pialert
          url: http://homelab1.jalexmatey.co.uk:20211
    - Uptime Kuma:
        icon: uptime-kuma.png
        href: http://homelab1.jalexmatey.co.uk:3001/
        description: Website monitoring
        widget:
          type: uptimekuma
          url: http://homelab1.jalexmatey.co.uk:3001
          slug: live

- Media:
    - jellyfin:
        icon: jellyfin.png
        href: http://homelab1.jalexmatey.co.uk:8096
        widget:
          type: jellyfin
          url: http://homelab1.jalexmatey.co.uk:8096
          key: {{ jellyfin_api_key }}
          enableBlocks: true
          enableNowPlaying: true
    - qBittorrent:
        icon: qbittorrent.png
        href: http://homelab1.jalexmatey.co.uk:8080/
        description: To download Linux ISOs
        widget:
          type: qbittorrent
          url: http://homelab1.jalexmatey.co.uk:8080
          username: {{ qbittorrent_username }}
          password: {{ qbittorrent_password }}
    - Sonarr:
        icon: sonarr.png
        href: http://homelab1.jalexmatey.co.uk:8989/
        widget:
          type: sonarr
          url: http://homelab1.jalexmatey.co.uk:8989
          key: {{ sonarr_api_key }}
          enableQueue: false
    - Radarr:
        icon: radarr.png
        href: http://homelab1.jalexmatey.co.uk:7878/
        widget:
          type: radarr
          url: http://homelab1.jalexmatey.co.uk:7878
          key: {{ radarr_api_key }}
          enableQueue: false
    - Jackett:
        icon: jackett.png
        href: http://homelab1.jalexmatey.co.uk:9117/
        widget:
          type: jackett
          url: http://homelab1.jalexmatey.co.uk:9117
